<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
    {%- include head.html -%}
    <head>
        <script type="importmap">
            {
                "imports": {
                    "three": "https://cdn.jsdelivr.net/npm/three@0.168.0/build/three.module.js",
                    "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.168.0/examples/jsm/"
                }
            }
        </script>
    </head>
    <body>
        {%- include header.html -%}

        <main class="page-content" aria-label="Content">
            <div class="wrapper"> test </div>
        </main>

        {%- include footer.html -%}

        <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    </body>
</html>
